[tool.poetry]
name = "annomatic"
version = "0.1.0"
description = ""
authors = ["Christoph Mandl <mandl23@ads.uni-passau.de>"]
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.9,<3.11"
pandas = "^2.1.1"

[tool.poetry.group.dev.dependencies]
pytest = "^7.4.2"
pre-commit = "^3.4.0"

# OpenAi
[tool.poetry.group.openai]
optional = true

[tool.poetry.group.openai.dependencies]
openai = "^0.28.1"
tenacity = "^8.2.3"

# HugginFace
[tool.poetry.group.huggingface]
optional = true

[tool.poetry.group.huggingface.dependencies]
transformers = "^4.34.0"

# Vllm
[tool.poetry.group.vllm]
optional = true

[tool.poetry.group.vllm.dependencies]
vllm = "^0.2.1.post1"



# config for pre-commit
[tool.black]
line-length = 79

[tool.isort]
profile = "black"
multi_line_output = 3

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
