[tool.poetry]
name = "annomatic"
version = "0.1.0"
description = ""
authors = ["Christoph Mandl <mandl23@ads.uni-passau.de>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"


[tool.poetry.group.dev.dependencies]
pytest = "^7.4.2"
pre-commit = "^3.4.0"

[tool.black]
line-length = 79

[tool.flake8]
exclude = [".git", "__pycache__", "*tests"]
max-complexity = 10


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
