name: PyTest
on:
  push:
    branches:
      - '**'
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.9
        uses: actions/setup-python@v3
        with:
          python-version: "3.9.16"
          cache: 'pip'
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Test with pytest
        run: pytest
